/*! Flexible Grid System 5.5.3 | Scss | MIT License | flexible.gs */
.ArticleList__body {
  display: block;
  width: 100%;
  font-size: 0;
  letter-spacing: 0;
  text-align: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: calc(100% + 24px);
  margin-left: -12px;
  margin-right: -12px;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0px;
  padding-right: 0px;
  border: 1px solid gray;
  height: calc(100vh - 309px);
  overflow: auto;
  padding: 6px 0; }
  .ArticleList__body > * {
    display: inline-block;
    vertical-align: top; }
  .ArticleList__body > * {
    padding-left: 12px;
    padding-right: 12px; }

.ArticleList__item {
  min-height: 1px;
  font-size: 1rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%; }

.ArticleList__header {
  text-align: center; }

.ArticleList__select {
  margin-bottom: 6px; }
