@import "../node_modules/flexiblegs-scss/flexiblegs-scss";
@import "../node_modules/react-select/scss/default";
.App {
  text-align: center;
  &__logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
  }
  &__header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
  }
  &__intro-wrap {
    @include wrap;
    @include wrap("gutter", 24);
    @include wrap("outside", 0);
  }
  &__intro-col {
    @include col;
    @include col(2, 3);

    &:last-child {
      @include col(1, 3);
    }
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}